///// -------------------------- ARTICLE Attributes - Name - Date -------------------------- /////
.article_attr {
    position: relative;
    display:inline-block;
    font-size: 14px;
    line-height: 1.5em; // for double lines on mobile
    font-family: "MuseoSans-500";
    color: #666;
}

.article_attr-byline {
    @include transition(all 200ms ease-out);
    text-decoration: none;
    color: #444;
    font-family: "MuseoSans-700";
    &:hover {
        color: #dc5555;
    }
}

.article_attr-date {
    color: #666;
    font-family: "MuseoSans-500";

    @include breakpoint($gp_phone) {
      display:block;
      line-height: 1.7em;
      font-family: "MuseoSans-500";
    }
    @include breakpoint($gp_tablet-portrait) {
      line-height: 1.5em;
      display:inline-block;
    }

}


