///// -------------------------- FEATURED ARTICLE MODULE -------------------------- /////
// .feature_article {
//     position: relative;
//     width: 100%;
//     height: 100%;
// }

.feature_article-hero {
    position: relative;
    margin-bottom: -55px;
    width: 100%;
    height: 100vh;
    @include breakpoint($gp-desktop-small) {
        margin-bottom: -71px;
    }
}

.feature_article-header {
    @include transition(all 400ms ease-out);
    @include v-align(35%);
    @include gpSection;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top:0 !important;
    @include breakpoint($gp-tablet-portrait) {
        @include v-align(42%);
        position:absolute;
    }
}

.feature_article-headline {
    @extend .gp_header--large;
    @include text-shadow(#111111 0px 1px 0px);
    color: #fafafa;

}

.feature_article-info {
    margin-top: 15px;
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 15px;
    line-height: 1.5em; // for double lines on mobile
    font-family: "MuseoSans-500";

    @include breakpoint($gp-desktop-small) {
        margin-top: 0;
        padding-bottom:12px;
        margin-bottom: 12px;
        text-align: right;
    }
}
.feature_article-byline{
  @extend .article_attr-byline;
  margin-bottom:2px;

  @include breakpoint($gp-desktop-small) {
      display:block;
  }
}

.feature_article-date{
  @extend .article_attr-date;
  @include breakpoint($gp-phone) {
      margin-left:5px;
  }
}

.feature_article-photo {
    position: absolute;
    top: 0;
    bottom: 55px;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    @include breakpoint($gp-desktop-small) {
        bottom: 71px;
    }

    &:before {
        @include transition(all 400ms ease-out);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(33, 33, 33, 0.5);
        content: '';
    }
}

.feature_article-body {
    @include gpSection;
    padding-top: 15px;

    @include breakpoint($gp-desktop-small) {
        padding-top: 30px;
    }
}

.feature_article-body-left {
    position: relative;

    @include breakpoint($gp-desktop-small) {
        position: absolute;
        margin-top: 4px;
        width: 195px;
    }
}

.feature_article-body-right {
    @include breakpoint($gp-desktop-small) {
        margin-left: 245px;
        max-width: 700px;
    }
}



