/// -------------------> placeholder mixin <------------------ ///
@mixin placeholder($color){
    &::-webkit-input-placeholder { color:$color; font-family: "MuseoSans-100";}
    &::-moz-placeholder { color:$color; font-family: "MuseoSans-100"; } /* firefox 19+ */
    &:-ms-input-placeholder { color:$color; font-family: "MuseoSans-100"; } /* ie */
    & input:-moz-placeholder { color:$color; font-family: "MuseoSans-100"; }
}

.gp_input {
  background: rgba(150,150,150,.1);
  @include clearfix;
  font-family: "MuseoSans-700";
}
///// --------------------------  Search Input  -------------------------- /////


.gp_search {
  margin-bottom: 35px;
  margin-top:60px;
  @include clearfix;
  background: rgba(150,150,150,.1);
}

.gp_search-icon {
  @include gpIcon;
  color: #fafafa;
  font-size: 60px;
  float: right;
  line-height: 1.8em;
  background: rgba(33,33,33,.2);
  padding:15px 30px 10px 30px;
  @include transition(background 100ms ease-out);

   &:hover {
        background: #dc5555;
    }
}

$color: #ffaaaa;
.gp_search-text {
    margin:0;
    padding:0;
    @include transition(all 500ms ease-out);
    color: #444;
    font-size: 82px;
    font-family: "MuseoSans-700";
    line-height: 1.2em;
    border:none;
    background: transparent;
    @include placeholder(#888);
    padding:20px 0 15px 15px;

}

.gp_search_filters {
    @include span(16 of 16);
    margin-bottom:40px;
    text-align: right;
    border-top:1px dotted #eee;
}


.gp_search_filters-item {
    @extend .gp_button;
}

.gp_search_content {
    @include span(16 of 16);
}