///// -------------------------- Buttons -------------------------- /////
.gp_button {
    @include transition(color 100ms linear, background 100ms linear);
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 13px 15px 10px 15px;
    background: #eeeeee;
    color: #444;
    font-family: "MuseoSans-700";
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: #dc5555;
    }
    &:active {
        background: #fa9292;
    }
}

.gp_button--full {
    @extend .gp_button;
    width: 100%;
}

.gp_button--full--dark {
    @extend .gp_button;
    width: 100%;
    background: #888;
    color: #fff;
}

///// -------------------------- TAXONOMY DROPDOWN -------------------------- /////

.gp_dropdown {
    position: relative;
    display: none;
    margin: 0 10px 10px 0;
    @include breakpoint($gp-desktop-small) {
        display: inline-block;
    }
}

.gp_dropdown-button {
    @extend .gp_button;
}

.gp_dropdown-icon {
    @include gpIcon {
        margin-left: 5px;
        vertical-align: baseline;
    }
}

.gp_dropdown-list {
    @include transition(all 100ms linear);
    //@include animation(0ms, 200ms, fadeIn);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    :hover > & {
        display: block;
    }
}

.gp_dropdown-list-item {
    border-bottom: 1px solid #bbb;
    &:last-child {
        border-bottom: 0;
    }
}

.gp_dropdown-list-link {
    @extend .gp_button;
    width: 100%;
    text-align: left;
}

///// ---- Photo Gallery CALL TO ACTION ----- //////

.gp_gallery_button {
    @extend .gp_button;
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 35px 30px 30px 30px;
    font-size: 3.3em;
}

.gp_gallery_button-icon {
    @include gpIcon;
}

.gp_gallery_button-text {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "MuseoSans-700";
    line-height: 1.8em;
}

.gp_gallery_button-ammount {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "MuseoSans-300";
    line-height: 1.6em;
}