///// -------------------------- STREAM-OVERLAY - FOR TABLET AND MOBILE - MODULE-------------------------- /////
// MODULAR : ✔

#latest_news-wrapper {
    @include transition(all 100ms ease-out);
    position: fixed;
    z-index: 9999;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 0px;
    width: 100%;
    height: 0%;
    background: #eee;
    line-height: 10px;
    &.is-visible {
        height: 100%;
    }
}

.latest_news {
    position: relative;
    padding: 20px 10px 40px 10px;
    width: 100%;
    height: 100%;
}

.latest_news-item {
    display: block;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 20px 0px;
    min-height: 50px;
    max-height: 150px;
    width: 100%;
    border-bottom: 1px dotted #bbb;
 }

.latest_news-item-photo {
    display: none;
    float: left;
    margin-right: 12px;
    width: 100px;
    height: 66px;
    background: #999;
    @include breakpoint($gp-tablet-portrait) {
        display: block;
    }
}
.latest_news-item-time {
    margin-bottom: 7px;
    color: #c2c1bf;
    text-transform: uppercase;
    font-size: 11px;
    font-family: "MuseoSans-700";
}
.latest_news-item-headline {
    color: #444;
    font-size: 15px;
    font-family: "MuseoSans-500";
    line-height: 22px;
    @include breakpoint($gp-tablet-portrait) {
        font-size: 18px;
        font-family: "MuseoSans-700";
    }
}