
///// -------------------------- Banner Mixin -------------------------- /////

@mixin gpBanner {
    @include transition(all 200ms ease-out);
    position: relative;
    top: 0px;
    z-index: 100;
    display: table;
    overflow: hidden;
    width: 100%;
    background: #333;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    text-decoration: none;
    margin-top:0; // This is added to prevent gp_section from adding margin //
    //this handles the height with a bit of padding incase the contents are large //
    min-height: 25px;
    padding-top:20px;
    padding-bottom:20px;

    @include breakpoint($gp-tablet-portrait) {
        min-height: 120px;
    }

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: rgba(33, 33, 33, 0.8);
        content: '';
    }
}

@mixin gpBannerText {
    @include transition(all 200ms ease-out);
    position: relative;
    display: table-cell;
    color: #FFFFFF;
    cursor: pointer;
    padding-left: 35px;
    vertical-align: middle;
    //helps offset the size of the text//
    padding-top:.8em;

}


///// -------------------------- BANNER MODULE -------------------------- /////
// MODULAR : ✔


.gp_banner--small {
  @include gpBanner;
}

.gp_banner--medium {
    @include gpBanner;

    @include breakpoint($gp-tablet-portrait) {
        min-height: 200px;
    }
}

.gp_banner--large {
  @include gpBanner;
   min-height:100px;
  @include breakpoint($gp-tablet-portrait) {
      min-height:350px;
  }

  &:before {
        background: rgba(33, 33, 33, 0.9);
  }
}

.gp_banner--largest {
  @include gpBanner;
   @include breakpoint($gp-tablet-portrait) {
      min-height:500px;
  }
  &:before {
        background: rgba(33, 33, 33, 0.3);
  }
}

.gp_banner-text {
    @include gpBannerText;
}

.gp_banner-text--center {
   @include gpBannerText;
   text-align: center;
   padding:0;
}

.gp_banner-subhead {
    position: relative;
    display: none;
    color: #FFFFFF;
    text-transform: none;
    font-family: "MuseoSans-500";
    margin-top:.8em;

    @include breakpoint($gp-tablet-portrait) {
        display: block;
        font-size: 16px;
    }

    @include breakpoint($gp-desktop-small) {
        font-size: 20px;
    }
}

.gp_banner-body {
    @include transition(all 200ms ease-out);
    display: none;
    text-transform: none;
    position: relative;
    display: block;
    margin-top:1em;
    color: #fff;
    font-size: 15px;
    font-family: "MuseoSans-300";
    line-height: 1.6em;

    @include breakpoint($gp-desktop-small) {
        font-size: 16px;
    }
}



