.gp_photo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.gp_photo {
    display: block;
    width: 100%;
}

.gp_photo-caption {
    font-size: 14px;
    font-family: "MuseoSans-500";
    line-height: 16px;
    padding: 20px 0 16px 0;
    border-bottom: 1px dotted #ddd;
}

.gp_photo-desc {
    color:#777;
    font-size: 14px;
    font-family: "MuseoSans-500";
    line-height: 16px;
}

.gp_photo-author {
    color:#999;
    font-size: 14px;
    font-family: "MuseoSans-500";
    line-height: 16px;
}
