
///// -------------------------- Header Button -------------------------- /////

@mixin headerButton {
      @include user-select(none);
      @include transition(background 100ms ease-out);
      display: inline-block;
      padding: 0px $header_button_padding;
      height: 100%;
      color: $lightBackground;
      cursor: pointer;

      @include breakpoint($gp-desktop-small) {
          &:hover {
              color: #fff;
          }
      }

      &.active {
          color: #fff;
      }

}

///// -------------------------- HEADER BUTTONS - MODULE ------------------------- /////
// MODULAR : ✔

.header_button {
  @include headerButton;
  padding: 0px $header_button_padding_reduced;
}

.header_button--left {
    @include headerButton;
    height: 100%;
    border-right: 1px solid #555;

    @include breakpoint($gp-desktop-small) {
        &:hover {
            background: #191919;
        }
    }

    &.active {
        background: #151515;
    }

}

.header_button--right {
    @include headerButton;
    height: 100%;
    border-left: 1px solid #555;

    @include breakpoint($gp-desktop-small) {
        &:hover {
            background: #191919;
        }
    }

    &.active {
        background: #151515;
    }
}

.header_button-icon {
        @include gpIcon {
        width: .9em;
        height: 1em;
        vertical-align: top;
        font-size: .65em;
        line-height: 2.8em;
    }
}

.header_button-label {
    display:inline-block;
    padding-top: .26em;
    height: 100%;
    vertical-align: top;
    letter-spacing: .03em;
    font-size: .45em;
    font-family: "MuseoSans-500";

    @include breakpoint($gp-tablet-portrait) {
        font-size: .4em;
    }
}

.header_button-export {
    &:before {
        content: "\e656";
    }

    [class*="header_button"].active & {
        &:before {
        content: "\e649";
      }

      @include breakpoint($gp-tablet-portrait) {
          padding-left:3px;
      }

    }
}

.header_button-menu {
    &:before {
        content: "\e651";
    }

    [class*="header_button"].active & {
        &:before {
        content: "\e649";
      }
      @include breakpoint($gp-desktop-small){
          padding-left:3px;
      }
    }
}


.header_button-chapters {
    &:before {
        content: "\e609";
    }

    [class*="header_button"].active & {
        &:before {
        content: "\e649";
      }

      @include breakpoint($gp-tablet-portrait) {
          padding-left:3px;
      }

    }
}


.header_button-cta {
    @include box-shadow(#2f2f2f 1px 0px 0px);
    @include border-radius(3px);
    @include transition(background 400ms ease-out);
    padding: 12px 12px 10px 12px;
    background: $buttonBackground;
    vertical-align: middle;
    font-size: .36em;
    font-family: "MuseoSans-500";
    &:hover {
        background: $postRed;
        color: #FFF;
    }
}