///// --------------------------  l_navigation -------------------------- /////
// MODULAR : ✔

.navigation_section {
   @include clearfix;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    @include breakpoint($gp-desktop-small) {
        margin-bottom: 55px;
    }
}
/// The header for each section
.navigation_section-header {
    @include transition(all 500ms ease-out);
    color: #FFF;
    font-family: "MuseoSans-300";
    font-size: 30px;
    line-height: 1.8em;
    text-transform: uppercase;
    //display:block;
}

/// The list items on the left side,
.navigation_section-list-item--large {
    @include transition(all 200ms ease-out);
    color: #aaa;
    font-family: "MuseoSans-500";
    text-transform: uppercase;
    display: block;
    padding-top: 5px;
    width: 100%;
    font-size: .93em;
    line-height: 2.1em;

    @include breakpoint($gp-desktop-small) {
        font-family: "MuseoSans-300";
        font-size: 38px;
    }
}

.navigation_section-list-item--small {
    padding-top: 3px;
    color: #AAA;
    @include transition(all 200ms ease-out);
    position: relative;
    font-family: "MuseoSans-500";
    font-size: .93em;
    line-height: 2.1em;
    text-transform: uppercase;
    cursor: pointer;
    @include breakpoint($gp-desktop-small) {
        @include span(8 of 16);
        &:nth-child(2n) {
            @include span(8 of 16 omega);
        }
        .navigation_section-list-countries & {
            @include span(4 of 16);
            &:nth-child(2n) {
                @include span(4 of 16);
            }
            &:nth-child(3n) {
                @include span(4 of 16);
            }
            &:nth-child(4n) {
                @include span(4 of 16 omega);
            }
        }
    }
}

.navigation_section-list-item-link {
    @include transition(all 200ms ease-out);
    text-decoration: none;
    color: #aaa;
    display: inline-block;
    position: relative;
    left: 0;

    @include breakpoint($gp-desktop-small) {
        color: #fff;
        display: block;
        &:before {
            @include transition(all 200ms ease-out);
            content: '';
            position: absolute;
            top: 0;
            left: auto;
            right: 100%;
            bottom: 0;
        }
        &:hover {
            padding-left: .5em;
            color: #dc5555;
            /*  &:before {border-left-width: 5px;} */
        }
    }
}