///// -------------------------- BIO BANNER -------------------------- /////
// MODULAR : ✔

.bio_wrapper {
    // this adjust for the absolute poistioning of the interior elements //
    @include breakpoint($gp-desktop-small) {
        margin-bottom: -160px;
        top: 160px;
    }
}


.bio_info {
    @include breakpoint($gp-tablet-max) {
      text-align: center;
      margin-top:15px;
    }

    position: relative;
    @include clearfix;

    @include breakpoint($gp-desktop-small) {
    height:auto;
    z-index: 100;
    top: -150px;
    }

}

.bio_info-image {
    //@include box-shadow(rgba(0, 0, 0, 0.2) 0px 2px 6px);
    position:relative;
    width: 200px;
    //border: 8px solid #fafafa;

    @include breakpoint($gp-desktop-small) {
        margin-right: 20px;
        float:left;
        width: 240px;
        border: 8px solid #fafafa;
    }
}

.bio_info-text {
    position: relative;
    color: #666;
    margin-top: 18px;
    @include breakpoint($gp-desktop-small) {
        margin-top:0;
        color: #eee;
    }
}

.bio_info-text-name {
    font-family: "MuseoSans-700";
    font-size: 30px;
    color: #333;

    @include breakpoint($gp-desktop-small) {
    font-size: 70px;
    color:#eee;
    }

}
.bio_info-text-position {
    display: inline-block;
    margin-top: 12px;
    font-size: 20px;
    font-family: "MuseoSans-300";

    @include breakpoint($gp-desktop-small) {
        padding-bottom: 20px;
        font-size: 30px;
        margin-left: 8px;
    }
}

.bio_body {
    @include breakpoint($gp-tablet-max) {
      text-align: center;
    }
    position:relative;
    color: #292929;
    font-size: 16px;
    font-family: "MuseoSans-300";
    line-height: 1.5em;
    margin-top: 15px;
    @include breakpoint($gp-desktop-small) {
        margin-top:0;
        @include columns(2em 2);
        top: -220px;
        margin-left:270px;
    }

    :last-child {
        &:after {
            display: inline-block;
            margin-left: .2em;
            width: .5em;
            height: .5em;
            background: rgba(35, 24, 24, 0.5);
            content: "";
            vertical-align: 0%;
        }
    }
    a {
        color: darken(#111111, 15%);
        text-decoration: none;
        font-family: "MuseoSans-300";
    }
}
