<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">

      <title>GP Bio Template</title>
                 <link rel="stylesheet" href="../styles/main.css">


  </head>

  <body class="bio">
      <div id="l_main">
        <div id="l_main_inner">

          <nav id="l_navigation">
                <div class="l_navigation">

                    <ul class="nav-group nav-group-primary">
                        <li class="nav-group-item"><a href="/templates/popular.html" class="nav-group-item-link"><i class=" -nav icon-popular"></i><span class="nav-group-item-label">Popular</span></a></li>
                        <li class="nav-group-item"><a href="#" class="nav-group-item-link"><i class=" -nav icon-time"></i><span class="nav-group-item-label">Latest News</span></a></li>
                        <li class="nav-group-item"><a href="#" class="nav-group-item-link"><i class=" -nav icon-star"></i><span class="nav-group-item-label">GroundTruth Project</span></a></li>
                        <li class="nav-group-item"><a href="#" class="nav-group-item-link"><i class=" -nav icon-stack"></i><span class="nav-group-item-label">Series</span></a></li>
                        <li class="nav-group-item" id="nav-header-explore" data-activate="l_navigation-primary--darken"><a href="#" class="nav-group-item-link"><i class=" -nav icon-arrow-left"></i><span class="nav-group-item-label">Regions + Countries</span></a></li>
                        <li class="nav-group-item"><a href="about.html" class="nav-group-item-link"><i class=" -nav icon-info"></i><span class="nav-group-item-label">About</span></a></li>
                        <li class="nav-group-item" id="nav-header-more" data-activate="nav-header-list"><a href="#" class="nav-group-item-link"><i class=" -nav icon-plus"></i><span class="nav-group-item-label">More</span></a></li>
                        <ul class="nav-group-more-list">
                            <li class="nav-group-item nav-group-more-list-item "><a href="#" class="nav-group-item-link"><i class=" -nav icon-film"></i><span class="nav-group-item-label">Everyday Life</span></a></li>
                            <li class="nav-group-item nav-group-more-list-item"><a href="#" class="nav-group-item-link"><i class=" -nav icon-film"></i><span class="nav-group-item-label">Video</span></a></li>
                            <li class="nav-group-item nav-group-more-list-item"><a href="#" class="nav-group-item-link"><i class=" -nav icon-image"></i><span class="nav-group-item-label">Photos</span></a></li>
                        </ul>
                    </ul>

                    <div class="nav-group nav-group-category">
                        <div class="nav-group-item nav-group-item-label"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Power</span></a></div>
                        <ul class="nav-group-list clearfix">
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Politics</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">US Foreign Policy</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Leaders</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Commentary</span></a></li>
                        </ul>

                        <div class="nav-group-item nav-group-item-label"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Living</span></a></div>
                        <ul class="nav-group-list clearfix">
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Pop Culture</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Drugs</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Sexuality</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Food & Travel</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Health</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Religion</span></a></li>
                        </ul>
                    </div>

                    <div class="nav-group nav-group-category">
                        <div class="nav-group-item nav-group-item-label"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Conflict</a></span></div>
                        <ul class="nav-group-list clearfix">
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Middle East</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Terrorism</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Warfare</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Human Rights</span></a></li>
                        </ul>

                        <div class="nav-group-item nav-group-item-label"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Money</a></span></div>
                        <ul class="nav-group-list clearfix">
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Science</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Frontier Markets</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">Technology</span></a></li>
                            <li class="nav-group-list-item"><a href="landing-page.html" class="nav-group-item-link"><span class="nav-group-item-label">Global Economy</span></a></li>
                            <li class="nav-group-list-item"><a href="#" class="nav-group-item-link"><span class="nav-group-item-label">China Economy</span></a></li>
                        </ul>
                    </div>
                </div>
                                <div id="l_navigation-primary--darken"></div>
            </nav>
            <nav id="l_navigation-countries">
                <div class="l_navigation-countries-inner ">
                    <!-- <div class="nav-group desktop tablet">
                        <div class="nav-header"><i class=" -nav icon-image"></i>Photos</div>
                        <div class="nav-header"><i class=" -nav icon-film"></i>Videos</div>
                    </div> -->
                    <div class="nav-group">
                        <div class="nav-header">
                            <!-- <i class=" -nav icon-compass"></i> -->Regions</div>
                        <ul class="nav-list country">
                            <li class="nav-list-item">Africa</li>
                            <li class="nav-list-item">Americas</li>
                            <li class="nav-list-item">Asia</li>
                            <li class="nav-list-item">Europe</li>
                            <li class="nav-list-item">The Middle East</li>

                        </ul>


                    </div>

                    <div class="nav-group">
                        <div class="nav-header">Countries</div>
                        <ul class="nav-list country">
                            <li class="nav-list-item">Afghanistan</li>
                            <li class="nav-list-item">Argentina</li>
                            <li class="nav-list-item">Benelux</li>
                            <li class="nav-list-item">Bolivia</li>
                            <li class="nav-list-item">Brazil</li>
                            <li class="nav-list-item">Canada</li>
                            <li class="nav-list-item">Chile</li>
                            <li class="nav-list-item">China</li>
                            <li class="nav-list-item">Colombia</li>
                            <li class="nav-list-item">Costa Rica</li>
                            <li class="nav-list-item">Cuba</li>
                            <li class="nav-list-item">Czech Republic</li>
                            <li class="nav-list-item">Egypt</li>
                            <li class="nav-list-item">Iran</li>
                            <li class="nav-list-item">Israel & Palestine</li>
                            <li class="nav-list-item">France</li>
                            <li class="nav-list-item">Germany</li>
                            <li class="nav-list-item">Ghana</li>
                            <li class="nav-list-item">India</li>
                            <li class="nav-list-item">Indonesia</li>
                            <li class="nav-list-item">Italy</li>
                            <li class="nav-list-item">Japan</li>
                            <li class="nav-list-item">Jordan</li>
                            <li class="nav-list-item">Kenya</li>
                            <li class="nav-list-item">Haiti</li>
                            <li class="nav-list-item">Lebanon</li>
                            <li class="nav-list-item">Mexico</li>
                            <li class="nav-list-item">Morocco</li>
                            <li class="nav-list-item">Nigeria</li>
                            <li class="nav-list-item">Pakistan</li>
                            <li class="nav-list-item">Peru</li>
                            <li class="nav-list-item">Philippines</li>
                            <li class="nav-list-item">Poland</li>
                            <li class="nav-list-item">Russia</li>
                            <li class="nav-list-item">Saudi Arabia</li>
                            <li class="nav-list-item">Senegal</li>
                            <li class="nav-list-item">South Africa</li>
                            <li class="nav-list-item">South Korea</li>
                            <li class="nav-list-item">Syria</li>
                            <li class="nav-list-item">Spain</li>
                            <li class="nav-list-item">Thailand</li>
                            <li class="nav-list-item">Turkey</li>
                            <li class="nav-list-item">United Kingdom</li>
                            <li class="nav-list-item">United States</li>
                            <li class="nav-list-item">Venezuela</li>
                            <li class="nav-list-item">Vietnam</li>
                            <li class="nav-list-item">Zimbabwe</li>
                        </ul>
                    </div>
                </div>
            </nav>
               <header id="l_header">
                <div id="l_header-left">
                    <a class="header_button--left" id="header_button-navigation" data-activate="l_content--darken">
                        <i class="header_button-icon header_button-menu"></i>
                        <span class="header_button-label mobile-hidden desktop-visible">Menu</span>
                    </a><a class="header_button--left mobile-hidden tablet-visible" id="header_button-search">
                        <i class=" header_button-icon icon-search "></i>
                    </a>
                </div>

                <div id="l_header-center">
                    <a href="homepage.html" class="header_logo">
                        <span class="header_logo-global">Global</span><span class="header_logo-post">Post</span>
                    </a>
                </div>

                <div id="l_header-right">
                    <a class="header_button--right mobile-hidden">
                        <i class=" header_button-icon icon-info"></i>
                    </a><a class="header_button--right" id="header_button-share" data-activate="fullscreen_social">
                      <i class="header_button-icon header_button-export"></i>
                      <span class="header_button-label mobile-hidden">Share</span></a>
                </div>
            </header>
            <div id="l_dropdowns">
                <div id="l_content--darken"></div>
                <div id="breaking_news-wrapper">
                    <div class="overlay">

                        <div class="overlay-inner active" id="overlay-inner">
                            <div class="latest_news-item clearfix ">
                                <div class="latest_news-item-photo ">
                                    <img src="http://lorempixel.com/100/66/?v=1" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">1 Hour Ago</div>
                                    <a class="latest_news-item-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=2" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">4 Hour Ago</div>
                                    <a class="latest_news-item-headline">Nullam ut gravida justo, ac aliquam nisl.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=10" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">4 Hour Ago</div>
                                    <a class="latest_news-item-headline">Nullam ut gravida justo, ac aliquam nisl.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=4" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">5 Hour Ago</div>
                                    <a class="latest_news-item-headline">Proin pulvinar vestibulum risus in sollicitudin</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=5" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">5 Hour Ago</div>
                                    <a class="latest_news-item-headline">Etiam euismod justo quis purus imperdiet suscipit.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=6" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline">Quisque mauris enim, tristique a pretium hendrerit, convallis nec est.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=1" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=8" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=40" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=41" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=42" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=49" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                        </div>
                        <!-- Overlay Wire -->
                    </div>
                    <!-- Overlay -->
                </div>
                <!-- l_overlay -->
            </div>

          <div id="l_content-wrapper">
              <div class="scroll-area" id="l_content">
                  <div id="l_content-inner">
                      <div class="gp_banner--large gp_section" id="landing_page-banner" data-activate="landing_page-banner" style="background-image: url(../images/money.jpg)">
                      </div>


                      <section class="gp_section">
                          <div class="bio_wrapper">
                           <div class="bio_info">
                            <img class="bio_info-image" src="../images/tm.jpg" />
                            <div class="bio_info-text">
                              <h1 class="bio_info-text-name">Thomas Mucha</h1>
                              <h2 class="bio_info-text-position">Editor-in-Chief</h2>
                            </div>

                            </div>
                          <div class="gp_social--bio">
                                <ul class="gp_social-list--center">
                                    <li class="gp_social-list-item" id="gp_social-facebook">
                                        <i class="gp_social-icon icon-facebook"></i>
                                        <span class="gp_social-text mobile-hidden tablet-hidden">facebook</span>
                                    </li>
                                    <li class="gp_social-list-item" id="gp_social-twitter">
                                        <i class="gp_social-icon icon-twitter"></i>
                                        <span class="gp_social-text mobile-hidden tablet-hidden">twitter</span>
                                    </li>
                                    <li class="gp_social-list-item" id="gp_social-google">
                                        <i class="gp_social-icon icon-google-plus"></i>
                                        <span class="gp_social-text mobile-hidden tablet-hidden">google</span>
                                    </li>
                                </ul>
                            </div>

                          <div class="bio_body">
                            <p>As Editor of GlobalPost, Thomas Mucha oversees GlobalPost's editorial operations. He also writes a Society of American Business Editors and Writers' (SABEW) Best in Business Award-winning column on global business and economics, as well as GlobalPost's Macro blog on the global economy.</p>

                            <p>Under Mucha's direction, GlobalPost has won a Peabody Award and two Edward R. Murrow Awards for its On Location news video series, a Polk Award for the site's coverage of the Syrian conflict, an Overseas Press Club Award for GlobalPost’s coverage of the Libyan rebellion, and 32 SABEW awards for the site's coverage of the global economy and business.</p>

                            <p>As GlobalPost’s editorial leader, Mucha has appeared on National Public Radio’s Talk of the World, Talk of the Nation, On the Media, as well as Public Radio International’s The World, The Bob Edwards Show, ABC News and other local, national and international radio and television broadcasts, The Bob Edwards Show, ABC News and other local, national and international radio and television broadcasts.</p>
                          </div>
                        </div>
                      </section>

                      <section class="gp_section">
                          <h1 class="gp_section-headline paddless">More From This Author</h1>
                        <div class="grid gp_grid--third-w-advertising">
                             <a class="content_item" href="article.html">
                                <div class="content_item-photo" style="background-image: url(http://farm8.staticflickr.com/7403/13413177795_5e0a6d63c5_h.jpg)">
                                </div>
                                <div class="content_item-text">
                                    <div class="content_item-category">Beat Name</div>
                                    <h2 class="content_item-headline">South Korea pulled strings as military cracked down on protesters</h2>
                                    <div class="content_item-subhead">Vroin rhoncus sem lobortis, iaculis tellus sit amet, gravida nibh. Vestibulum placerat quis turpis nec molestie. Etiam ac leo non magna bibendum tincidunt. Morbi rhoncus et diam nec commodo. Quisque nulla erat, pretium ac elit vel, faucibus vulputate erat.</div>
                                </div>
                             </a>

                            <div class="content_item">
                                <div class="content_item-photo" style="background-image: url(https://farm8.staticflickr.com/7058/13535332874_e1ffe2f14c_b.jpg)"></div>
                                <div class="content_item-text">
                                    <div class="content_item-category">Beat Name</div>
                                    <h2 class="content_item-headline">Donec ut commodo quam, vel tincidunt augue</h2>
                                    <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                </div>
                            </div>

                             <div class="content_item">
                                <div class="content_item-photo" style="background-image: url(https://farm4.staticflickr.com/3685/13539935244_6189577f80_h.jpg)"></div>
                                <div class="content_item-text">
                                    <div class="content_item-category">Beat Name</div>
                                    <h2 class="content_item-headline">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                    <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                </div>
                            </div>

                            <div class="content_item">
                                <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                <div class="content_item-text">
                                    <div class="content_item-category">Beat Name</div>
                                    <h2 class="content_item-headline">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                    <div class="content_item-subhead">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                </div>
                            </div>

                            <div class="content_item">
                                <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=735)"></div>
                                <div class="content_item-text">
                                    <div class="content_item-category">Beat Name</div>
                                    <h2 class="content_item-headline">Nulla facilisi. Donec eleifend libero ac felis imperdiet</h2>
                                    <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                </div>
                            </div>

                                <div class="content_item ad-block">
                                    <div class="content_item-ad absolute-center">
                                    </div>
                                </div>

                            <div class="content_item">
                                <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                <div class="content_item-text">
                                    <div class="content_item-category">Beat Name</div>
                                    <h2 class="content_item-headline">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                    <div class="content_item-subhead">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                </div>
                            </div>

                            <div class="content_item">
                                <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=735)"></div>
                                <div class="content_item-text">
                                    <div class="content_item-category">Beat Name</div>
                                    <h2 class="content_item-headline">Nulla facilisi. Donec eleifend libero ac felis imperdiet</h2>
                                    <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                </div>
                            </div>
                          </div>
                      </section>
                  </div><!-- l_content-inner -->
              </div><!-- l_content -->
          </div><!-- l_content-wrapper -->

        </div><!-- l-main-inner -->
      </div><!-- l-main -->


       <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../../bower_components/modernizr/modernizr.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../scripts/vendor/handlebars-v1.3.0.js"></script>
        <script src="../scripts/vendor/scrollMonitor.js"></script>
        <script src="../scripts/vendor/iscroll-probe.js"></script>
        <script src="../scripts/vendor/jcarousel/jcarousel.js"></script>
        <script src="../scripts/vendor/jcarousel/jcarousel-responsive.js"></script>
        <script src="../scripts/data.js"></script>
        <script src="../scripts/plugins.js"></script>
        <script src="../scripts/vendor/helpers/jquery.fancybox-buttons.js"></script>
        <script src="../scripts/main.js"></script>

        <!-- endbuild -->

  </body>
</html>