<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <title>GP Homepage Template</title>
            <link rel="stylesheet" href="../styles/main.css">
</head>

<body class="homepage">

    <div id="l_main">
        <div id="l_main_inner">
            <nav id="l_navigation">
                <div id="l_navigation-primary">
                    <div class="l_navigation-primary--left">
                        <div class="navigation_section">
                          <span class="navigation_section-header mobile-visible tablet-visible desktop-hidden">Shortcuts</span>
                          <ul class="navigation_section-list">
                            <li class="navigation_section-list-item--large"><a class="navigation_section-list-item-link" href="latest.html">Latest News</a></li>
                            <li class="navigation_section-list-item--large"><a class="navigation_section-list-item-link" href="video.html">Videos</a></li>
                            <li class="navigation_section-list-item--large"><a class="navigation_section-list-item-link" href="series.html">Series</a></li>
                            <li class="navigation_section-list-item--large"><a class="navigation_section-list-item-link" href="special-reports.html">GroundTruth</a></li>
                            <li class="navigation_section-list-item--large" id="nav-header-explore" data-activate="l_navigation-primary--darken"><a class="navigation_section-list-item-link" href="#">Countries</a></li>
                            <li class="navigation_section-list-item--large"><a class="navigation_section-list-item-link" href="#">Commentary</a></li>
                            <li class="navigation_section-list-item--large"><a class="navigation_section-list-item-link" href="about.html">About</a></li>
                            <li class="navigation_section-list-item--large"><a class="navigation_section-list-item-link" href="#">Everdaylife</a></li>
                          </ul>
                        </div>
                    </div>

                    <div class="l_navigation-primary--right-top">
                        <div class="navigation_section">
                          <span class="navigation_section-header">Trending</span>
                          <ul class="navigation_section-list">
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Ukraine Crisis</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">India's Elections</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Drug Legalization</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Thailand in Crisis </a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Climate Change</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Putin's Crackdown</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Drug Legalization</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Sgt. Bowe Bergdahl</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">VA scandal</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Putin's Crackdown</a></li>

                          </ul>
                        </div>
                    </div>

                    <div class="l_navigation-primary--right-bottom">
                        <div class="navigation_section">
                          <span class="navigation_section-header">Categories</span>
                          <ul class="navigation_section-list">
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Power</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Money</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Living</a></li>
                            <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Conflict</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Politics</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Technology</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">US Foreign Policy</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Science</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Human Rights</a></li>
                            <li class="navigation_section-list-item--small"><a href="landing-page.html" class="navigation_section-list-item-link">Global Economy</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Pop Culture</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Terrorism</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Drugs</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Warfare</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Sexuality</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Health</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Food & Travel</a></li>
                            <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Religion</a></li>
                          </ul>
                        </div>
                    </div>

                    <div id="l_navigation-primary--darken"></div>
                </div>
                <div id="l_navigation-countries">
                    <div class="l_navigation-countries-inner ">
                        <div class="navigation_section">
                            <span class="navigation_section-header">Regions</span>
                            <ul class="navigation_section-list navigation_section-list-countries">
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Africa</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Americas</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Asia-Pacific</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Europe</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Middle East</a></li>
                        </div>
                         <div class="navigation_section">
                            <span class="navigation_section-header">Countries</span>
                            <ul class="navigation_section-list navigation_section-list-countries">
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Ghana</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Kenya</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Morocco</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Nigeria</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Senegal</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">South Africa</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Zimbabwe</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Argentina</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Bolivia</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Brazil</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Canada</a></li>
                              <li class="navigation_section-list-item--small"><a href="landing-page.html" class="navigation_section-list-item-link">Chile</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Colombia</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Costa Rica</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Cuba</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Haiti</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Mexico</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">United States</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Venezuela</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Peru</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Afghanistan</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">South Korea</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Thailand</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">China</a></li>
                              <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">India</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Vietnam</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Indonesia</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Japan</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Pakistan</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Philippines</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Benelux</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Czech Republic</a></li>
                              <li class="navigation_section-list-item--small"><a href="landing-page.html" class="navigation_section-list-item-link">France</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Germany</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Italy</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Poland</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Russia</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Spain</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Turkey</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">UK</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Egypt</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Iran</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Israel + Palestine</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Jordan</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Lebanon</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Saudi Arabia</a></li>
                              <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Syria</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <header id="l_header">
                <div id="l_header-left">
                    <a class="header_button--left" id="header_button-navigation" data-activate="l_content--darken">
                        <i class="header_button-icon header_button-menu"></i>
                        <span class="header_button-label mobile-hidden desktop-visible">Menu</span>
                    </a><a href="/templates/search.html" class="header_button--left mobile-hidden tablet-visible" id="header_button-search">
                        <i class=" header_button-icon icon-search "></i>
                    </a>
                </div>

                <div id="l_header-center">

                    <a href="homepage.html" class="header_logo">
                        <span class="header_logo-global">Global</span><span class="header_logo-post">Post</span>
                    </a>
                </div>

                <div id="l_header-right">
                    <a href="/templates/about.html" class="header_button--right mobile-hidden">
                        <i class=" header_button-icon icon-info"></i>
                    </a><a class="header_button--right mobile-visible desktop-hidden" id="js-header_button-latest">
                        <i class="header_button-icon icon-time"></i>
                        <span class="header_button-label">Latest</span>
                    </a>
            </header>

            <div id="l_dropdowns">
                <div id="latest_news-wrapper">
                    <div class="latest_news">
                        <div class="overlay-inner active" id="overlay-inner">
                            <div class="latest_news-item clearfix ">
                                <div class="latest_news-item-photo ">
                                    <img src="http://lorempixel.com/100/66/?v=1" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">1 Hour Ago</div>
                                    <a class="latest_news-item-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=2" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">4 Hour Ago</div>
                                    <a class="latest_news-item-headline">Nullam ut gravida justo, ac aliquam nisl.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=10" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">4 Hour Ago</div>
                                    <a class="latest_news-item-headline">Nullam ut gravida justo, ac aliquam nisl.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=4" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">5 Hour Ago</div>
                                    <a class="latest_news-item-headline">Proin pulvinar vestibulum risus in sollicitudin</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=5" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">5 Hour Ago</div>
                                    <a class="latest_news-item-headline">Etiam euismod justo quis purus imperdiet suscipit.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=6" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline">Quisque mauris enim, tristique a pretium hendrerit, convallis nec est.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=1" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=8" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=40" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=41" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=42" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                            <div class="latest_news-item clearfix">
                                <div class="latest_news-item-photo">
                                    <img src="http://lorempixel.com/100/66/?v=49" alt="thumb">
                                </div>
                                <div class="overlay-text">
                                    <div class="latest_news-item-time">7 Hour Ago</div>
                                    <a class="latest_news-item-headline"> Eget turpis ac enim commodo pharetra ac ut augue.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="l_content-wrapper">
                <div id="l_content">
                    <div class="scroll-area" id="l_content-inner">
                        <section class="content_filter mobile-hidden tablet-hidden desktop-visible marginless">
                            <ul class="content_filter-list">
                                <li class="content_filter-item">Politics</li>
                                <li class="content_filter-item">Technology</li>
                                <li class="content_filter-item">Money</li>
                                <li class="content_filter-item">Conflict</li>
                                <li class="content_filter-item">Science</li>
                                <li class="content_filter-item">Money</li>
                                <li class="content_filter-item"><a href="#" id="content_filter-item-menu" data-activate="l_content--darken">Full Menu</a>
                            </ul>
                        </section>

                        <section class="gp_carousel-wrapper mobile-hidden tablet-hidden desktop-visible">
                                <div class="gp_carousel-button">
                                    <span class="gp_carousel-button-inner">Latest News</span>
                                </div>
                                <div class="gp_carousel">
                                    <ul class="gp_carousel-list">
                                        <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Pellentesque habitant morbi tristique senectus et netus</div>
                                        </li>
                                        <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Planes and ships are racing to the new MH370 search zone</div>
                                        </li>
                                        <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Afghan Taliban insurgents attack foreign guesthouse</div>
                                        </li>
                                        <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</div>
                                        </li>
                                        <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Nulla facilisi. Donec eleifend libero ac felis imperdiet</div>
                                        </li>
                                         <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Nulla facilisi. Donec eleifend libero ac felis imperdiet</div>
                                        </li>
                                         <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Nulla facilisi. Donec eleifend libero ac felis imperdiet</div>
                                        </li>
                                         <li class="gp_carousel-list-item">
                                            <div class="gp_carousel-headline">Nulla facilisi. Donec eleifend libero ac felis imperdiet</div>
                                        </li>
                                    </ul>
                                    <div class="gp_carousel-shadow-left"></div>
                                    <div class="gp_carousel-shadow-right"></div>
                                </div>
                                <div class="gp_carousel-control">
                                    <a href="#" class="gp_carousel-control--prev"></a>
                                    <a href="#" class="gp_carousel-control--next"></a>
                                </div>
                        </section>

                        <section class="gp_section" id="featured-articles">
                            <h1 class="visually-hidden gp_section-headline paddless">Featured Reporting</h1>
                            <div class="gp_grid--full-split">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm8.staticflickr.com/7403/13413177795_5e0a6d63c5_h.jpg)">
                                    </div>
                                    <div class="content_item-text">
                                        <a href="landing-page.html" class="gp_grid-category--dark">Global Economy</a>
                                        <h2 class="gp_grid-headline--large gp_grid-headline--dark"><a href="article.html">South Korea pulled strings as military cracked down on protesters</a>
                                        </h2>
                                        <div class="gp_grid-subhead--large gp_grid-subhead--dark">Vroin rhoncus sem lobortis, iaculis tellus sit amet, gravida nibh. Vestibulum placerat quis turpis nec molestie. Etiam ac leo non magna bibendum tincidunt. Morbi rhoncus et diam nec commodo. Quisque nulla erat, pretium ac elit vel, faucibus vulputate erat.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="gp_grid--third-w-advertising">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm4.staticflickr.com/3742/12148226023_6013bf72be_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <a href="landing-page.html" class="gp_grid-category--dark">Politics</a>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Did Kim Jong Un really execute his uncle’s extended family?</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(https://farm4.staticflickr.com/3851/14510979733_56e999ce8f_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <a href="landing-page.html" class="gp_grid-category--dark">Technology</a>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Donec ut commodo quam, vel tincidunt augue</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm8.staticflickr.com/7365/11985007866_e6ec9cb512_b.jpg)"></div>
                                    <div class="content_item-text">
                                        <a href="landing-page.html" class="gp_grid-category--dark">Science</a>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark"><a href="landing-page-feature.html">The Great Divide, Global income inequality and its costs</a></h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Income inequality is surging, and there are few countries where it is rising faster than the United States. The distance between rich and poor is greater in America than nearly all other developed countries.</div>
                                    </div>
                                </div>



                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--dark">Beat Name</div>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=735)"></div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--dark">Beat Name</div>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Nulla facilisi. Donec eleifend libero ac felis imperdiet</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item content_item--ad">
                                    <div class="gp_ad-grid">
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--dark">Beat Name</div>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=735)"></div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--dark">Beat Name</div>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Nulla facilisi. Donec eleifend libero ac felis imperdiet</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- <section class="gp_section " id="featured-beats">
                            <h1 class="gp_section-headline paddless">Featured Sections</h1>
                            <div class="grid grid_2_a">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                    <div class="content_item-text">
                                        <h2 class="content_item-headline">US Foreign Policy</h2>
                                        <div class="content_item-subhead">The foreign policy of the United States is the way in which it interacts with foreign nations and sets standards of interaction for its organizations, corporations and individual citizens.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=735)"></div>
                                    <div class="content_item-text">
                                        <h2 class="content_item-headline">Nulla facilisi. Donec eleifend libero ac felis imperdiet</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=935)"></div>
                                    <div class="content_item-text">
                                        <h2 class="content_item-headline">Pulvinar justo ut diam gravida vulputate</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item ad-block">
                                    <div class="content_item-ad absolute-center">
                                    </div>
                                </div>
                            </div>
                        </section> -->

                        <section class="gp_section" id="special-reports">
                            <h1 class="gp_section-headline paddless">GroundTruth Project</h1>
                            <div class="gp_grid--full-text-over-image">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm4.staticflickr.com/3742/12148226023_6013bf72be_h.jpg)">
                                    </div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--light">Special Report</div>
                                        <h2 class="gp_grid-headline--large gp_grid-headline--light">Pellentesque habitant morbi tristique senectus et netus</h2>
                                        <div class="gp_grid-subhead--large gp_grid-subhead--light">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="gp_grid--third-w-advertising">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm4.staticflickr.com/3742/12148226023_6013bf72be_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <div class="content_item-category">Politics</div>
                                        <h2 class="content_item-headline">Did Kim Jong Un really execute his uncle’s extended family?</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(https://farm4.staticflickr.com/3851/14510979733_56e999ce8f_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <div class="content_item-category">Technology</div>
                                        <h2 class="content_item-headline">Donec ut commodo quam, vel tincidunt augue</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                        <div class="content_item-photo" style="background-image: url(https://yahoov4s2-a.akamaihd.net/sk/3810/12980801504_cccd43d75a_h.jpg)"></div>
                                        <div class="content_item-text">
                                            <div class="content_item-category">Special Report</div>
                                            <h2 class="content_item-headline"><a class="content_item-headline-link" href="landing-page-feature.html">The Great Divide</a></h2>
                                            <div class="content_item-subhead">Income inequality is surging, and there are few countries where it is rising faster than the United States. The distance between rich and poor is greater in America than nearly all other developed countries.</div>
                                        </div>

                                </div>
                            </div>
                        </section>

                        <section class="gp_section" id="editors-picks">
                            <h1 class="gp_section-headline paddless">Editor's Picks</h1>

                            <div class="gp_grid--third-w-advertising">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm4.staticflickr.com/3742/12148226023_6013bf72be_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <div class="content_item-category">Politics</div>
                                        <h2 class="content_item-headline">Did Kim Jong Un really execute his uncle’s extended family?</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(https://farm4.staticflickr.com/3851/14510979733_56e999ce8f_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <div class="content_item-category">Technology</div>
                                        <h2 class="content_item-headline">Donec ut commodo quam, vel tincidunt augue</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                    <a class="content_item-link" href="landing-page-feature.html">
                                        <div class="content_item-photo" style="background-image: url(https://yahoov4s2-a.akamaihd.net/sk/3810/12980801504_cccd43d75a_h.jpg)"></div>
                                        <div class="content_item-text">
                                            <div class="content_item-category">Special Report</div>
                                            <h2 class="content_item-headline">The Great Divide</h2>
                                            <div class="content_item-subhead">Income inequality is surging, and there are few countries where it is rising faster than the United States. The distance between rich and poor is greater in America than nearly all other developed countries.</div>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="gp_grid--third-w-advertising">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm4.staticflickr.com/3742/12148226023_6013bf72be_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <div class="content_item-category">Politics</div>
                                        <h2 class="content_item-headline">Did Kim Jong Un really execute his uncle’s extended family?</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(https://farm4.staticflickr.com/3851/14510979733_56e999ce8f_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <div class="content_item-category">Technology</div>
                                        <h2 class="content_item-headline">Donec ut commodo quam, vel tincidunt augue</h2>
                                        <div class="content_item-subhead">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                    <a class="content_item-link" href="landing-page-feature.html">
                                        <div class="content_item-photo" style="background-image: url(https://yahoov4s2-a.akamaihd.net/sk/3810/12980801504_cccd43d75a_h.jpg)"></div>
                                        <div class="content_item-text">
                                            <div class="content_item-category">Special Report</div>
                                            <h2 class="content_item-headline">The Great Divide</h2>
                                            <div class="content_item-subhead">Income inequality is surging, and there are few countries where it is rising faster than the United States. The distance between rich and poor is greater in America than nearly all other developed countries.</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section>

                        <section class="gp_section--footer">
                            <div class="gp_footer">
                                        <ul class="gp_footer-column">
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Links</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Home</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Everyday Life</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Wires</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Advertising</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Jobs</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Terms</a>
                                            </li>
                                        </ul>


                                        <ul class="gp_footer-column">
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Social</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link"><!-- <i class=" icon-facebook"></i> -->Facebook</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Twitter</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Google +</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Tumblr</a>
                                            </li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">Youtube</a>
                                            </li>
                                        </ul>

                                        <ul class="gp_footer-column">
                                            <li class="gp_footer-column-item"><a href="/templates/search.html" class="gp_footer-column-item-link">Search</a>
                                            </li>
                                            <li class="gp_footer-column-search"></li>
                                            <li class="gp_footer-column-item"><a class="gp_footer-column-item-link">© 2014 GlobalPost – International News</a>
                                            </li>
                                        </ul>

                            </div>
                        </section>
                    </div>
                </div>
                <div id="l_content--darken"></div>
            </div>
        </div>
    </div>
     <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/modernizr/modernizr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!--
    <script src="../scripts/vendor.js"></script>
    <script src="../scripts/scripts.js"></script>
    -->
    <script src="../scripts/vendor/handlebars-v1.3.0.js"></script>
    <script src="../scripts/vendor/scrollMonitor.js"></script>
    <script src="../scripts/vendor/iscroll-probe.js"></script>
    <script src="../scripts/vendor/jcarousel/jcarousel.js"></script>
    <script src="../scripts/vendor/jcarousel/jcarousel-responsive.js"></script>
    <script src="../scripts/data.js"></script>
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/vendor/helpers/jquery.fancybox-buttons.js"></script>
    <script src="../scripts/main.js"></script>

    </body>

</html>