<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">

      <title>GP Feature Landing Template</title>
                  <link rel="stylesheet" href="../styles/main.css">


  </head>

  <body class="collection special-report landing-page landing sponsored feature">
      <div id="l_main">
        <div id="l_main_inner">
              <nav id="l_navigation" style="background-image: url(http://farm8.staticflickr.com/7403/13413177795_5e0a6d63c5_h.jpg)">
                <div class="l_navigation-left">
                    <div class="navigation_section clearfix">
                      <ul class="navigation_section-list">
                        <li class="navigation_section-list-item--large"><a href="latest.html">Latest News</a></li>
                        <li class="navigation_section-list-item--large"><a href="popular.html">Popular</a></li>
                        <li class="navigation_section-list-item--large"><a href="video.html">Videos</a></li>
                        <li class="navigation_section-list-item--large"><a href="series.html">Series</a></li>
                        <li class="navigation_section-list-item--large"><a href="special-reports.html">GroundTruth</a></li>
                        <li class="navigation_section-list-item--large" id="nav-header-explore" data-activate="l_navigation-primary--darken"><a href="#">Countries</a></li>
                        <li class="navigation_section-list-item--large"><a href="#">Commentary</a></li>
                        <li class="navigation_section-list-item--large"><a href="about.html">About</a></li>
                        <li class="navigation_section-list-item--large"><a href="#">Everdaylife</a></li>
                      </ul>
                    </div>
                </div>

                <div class="l_navigation-right">
                    <div class="navigation_section clearfix">
                      <span class="navigation_section-header">Trending</span>
                      <ul class="navigation_section-list">
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Ukraine Crisis</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">India's Elections</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Drug Legalization</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Thailand in Crisis </a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Mobile Web</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Putin's Crackdown</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">US Economy</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Internet Money</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Mobile Web</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Putin's Crackdown</a></li>

                      </ul>
                    </div>

                    <div class="navigation_section clearfix">
                      <span class="navigation_section-header">Categories</span>
                      <ul class="navigation_section-list">
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Power</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Money</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Living</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Conflict</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Politics</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Technology</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">US Foreign Policy</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Science</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Leaders</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Frontier Markets</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Human Rights</a></li>
                        <li class="navigation_section-list-item--small"><a href="landing-page.html" class="navigation_section-list-item-link">Global Economy</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Pop Culture</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Middle East</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Terrorism</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Drugs</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Warefare</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Sexuality</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Health</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Food & Travel</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Religion</a></li>





                      </ul>
                    </div>
                </div>
                <div id="l_navigation-primary--darken"></div>
            </nav>
            <nav id="l_navigation-countries">
                <div class="l_navigation-countries-inner ">
                    <!-- <div class="nav-group desktop tablet">
                        <div class="nav-header"><i class=" -nav icon-image"></i>Photos</div>
                        <div class="nav-header"><i class=" -nav icon-film"></i>Videos</div>
                    </div> -->
                    <div class="nav-group">
                        <div class="nav-header">
                            <!-- <i class=" -nav icon-compass"></i> -->Regions</div>
                        <ul class="nav-list country">
                            <li class="nav-list-item">Africa</li>
                            <li class="nav-list-item">Americas</li>
                            <li class="nav-list-item">Asia</li>
                            <li class="nav-list-item">Europe</li>
                            <li class="nav-list-item">The Middle East</li>

                        </ul>


                    </div>

                    <div class="nav-group">
                        <div class="nav-header">Countries</div>
                        <ul class="nav-list country">
                            <li class="nav-list-item">Afghanistan</li>
                            <li class="nav-list-item">Argentina</li>
                            <li class="nav-list-item">Benelux</li>
                            <li class="nav-list-item">Bolivia</li>
                            <li class="nav-list-item">Brazil</li>
                            <li class="nav-list-item">Canada</li>
                            <li class="nav-list-item">Chile</li>
                            <li class="nav-list-item">China</li>
                            <li class="nav-list-item">Colombia</li>
                            <li class="nav-list-item">Costa Rica</li>
                            <li class="nav-list-item">Cuba</li>
                            <li class="nav-list-item">Czech Republic</li>
                            <li class="nav-list-item">Egypt</li>
                            <li class="nav-list-item">Iran</li>
                            <li class="nav-list-item">Israel & Palestine</li>
                            <li class="nav-list-item">France</li>
                            <li class="nav-list-item">Germany</li>
                            <li class="nav-list-item">Ghana</li>
                            <li class="nav-list-item">India</li>
                            <li class="nav-list-item">Indonesia</li>
                            <li class="nav-list-item">Italy</li>
                            <li class="nav-list-item">Japan</li>
                            <li class="nav-list-item">Jordan</li>
                            <li class="nav-list-item">Kenya</li>
                            <li class="nav-list-item">Haiti</li>
                            <li class="nav-list-item">Lebanon</li>
                            <li class="nav-list-item">Mexico</li>
                            <li class="nav-list-item">Morocco</li>
                            <li class="nav-list-item">Nigeria</li>
                            <li class="nav-list-item">Pakistan</li>
                            <li class="nav-list-item">Peru</li>
                            <li class="nav-list-item">Philippines</li>
                            <li class="nav-list-item">Poland</li>
                            <li class="nav-list-item">Russia</li>
                            <li class="nav-list-item">Saudi Arabia</li>
                            <li class="nav-list-item">Senegal</li>
                            <li class="nav-list-item">South Africa</li>
                            <li class="nav-list-item">South Korea</li>
                            <li class="nav-list-item">Syria</li>
                            <li class="nav-list-item">Spain</li>
                            <li class="nav-list-item">Thailand</li>
                            <li class="nav-list-item">Turkey</li>
                            <li class="nav-list-item">United Kingdom</li>
                            <li class="nav-list-item">United States</li>
                            <li class="nav-list-item">Venezuela</li>
                            <li class="nav-list-item">Vietnam</li>
                            <li class="nav-list-item">Zimbabwe</li>
                        </ul>
                    </div>
                </div>
            </nav>

            <header id="l_header">
                <div id="l_header-left">
                    <a class="header_button--left" id="header_button-navigation" data-activate="l_content--darken">
                        <i class="header_button-icon header_button-menu"></i>
                        <span class="header_button-label mobile-hidden desktop-visible">Menu</span>
                    </a><a class="header_button" id="feature-chapters" data-activate="l_navigation-secondary">
                            <i class="header_button-icon header_button-chapters"></i>
                            <span id="header_button-label-chapters" class="header_button-label">Chapters</span>
                        </a>
                </div>

                <div id="l_header-center">
                    <a href="homepage.html" class="mobile-hidden header_logo">
                        <span class="header_logo-global">Global</span><span class="header_logo-post">Post</span>
                    </a>
                </div>

                <div id="l_header-right">
                    <a class="header_button mobile-hidden">
                                <i class="header_button-icon icon-heart"></i>
                                <span class="header_button-label tablet-hidden">Supporters</span>
                              </a><a class="header_button mobile-hidden">
                                <i class=" header_button-icon icon-users"></i>
                                <span class="header_button-label tablet-hidden">Team</span>
                              </a><a href="homepage.html" class="header_button header_logo_simple tablet-hidden desktop-hidden">GP</a>
                    <a class="header_button--right" id="header_button-share" data-activate="fullscreen_social">
                      <i class="header_button-icon header_button-export"></i>
                      <span class="header_button-label mobile-hidden">Share</span></a>
                </div>
            </header>

            <div id="l_dropdowns">
                  <div id="l_content--darken"></div>
                  <div id="fullscreen_social">
                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item--facebook">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-facebook"></i>
                                    <span class="fullscreen_social-text">facebook</span>
                                  </span>
                                </a>
                              </div>

                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item--twitter">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-twitter"></i>
                                    <span class="fullscreen_social-text">twitter</span>
                                  </span>
                                </a>
                              </div>

                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item--google">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-google-plus"></i>
                                    <span class="fullscreen_social-text">google</span>
                                  </span>
                                </a>
                              </div>

                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item--more">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-export"></i>
                                    <span class="fullscreen_social-text">more</span>
                                  </span>
                                </a>
                              </div>
                </div>
                  <div id="breaking_news-wrapper">
                              <div class="overlay">

                                  <div class="overlay-inner active" id="overlay-inner">
                                      <div class="latest_news-item clearfix ">
                                          <div class="latest_news-item-photo ">
                                              <img src="http://lorempixel.com/100/66/?v=13" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">1 Hour Ago</div>
                                              <a class="latest_news-item-headline">South Korea pulled strings as military cracked down on protesters</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=12" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">4 Hour Ago</div>
                                              <a class="latest_news-item-headline">Did Kim Jong Un really execute his uncle’s extended family?</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=3" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">4 Hour Ago</div>
                                              <a class="latest_news-item-headline">Nullam ut gravida justo, ac aliquam nisl.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=4" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">5 Hour Ago</div>
                                              <a class="latest_news-item-headline">Proin pulvinar vestibulum risus in sollicitudin</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=5" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">5 Hour Ago</div>
                                              <a class="latest_news-item-headline">Etiam euismod justo quis purus imperdiet suscipit.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://hhhhold.com/jpeg/100x66/m?6" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">7 Hour Ago</div>
                                              <a class="latest_news-item-headline">Quisque mauris enim, tristique a pretium hendrerit, convallis nec est.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=101" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">7 Hour Ago</div>
                                              <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=8" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">7 Hour Ago</div>
                                              <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=9" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">7 Hour Ago</div>
                                              <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=10" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">7 Hour Ago</div>
                                              <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=11" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">7 Hour Ago</div>
                                              <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                          </div>
                                      </div>
                                      <div class="latest_news-item clearfix">
                                          <div class="latest_news-item-photo">
                                              <img src="http://lorempixel.com/100/66/?v=12" alt="thumb">
                                          </div>
                                          <div class="overlay-text">
                                              <div class="latest_news-item-time">7 Hour Ago</div>
                                              <a class="latest_news-item-headline"> Eget turpis ac enim commodo pharetra ac ut augue.</a>
                                          </div>
                                      </div>
                                  </div><!-- Overlay Wire -->
                              </div><!-- Overlay -->
                  </div>
            </div>

              <div id="l_content-wrapper">
                <div id="l_navigation-secondary-horizontal" class="mobile-hidden tablet-visible">
                </div>
                <div id="l_navigation-secondary-vertical" class="mobile-visible tablet-hidden">
                    <div class="feature_nav">
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://farm8.staticflickr.com/7403/13413177795_5e0a6d63c5_h.jpg')">
                            </div>
                            <div class="feature_nav-chapter-title">South Korea pulled strings as military cracked down on protesters</div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://globalpost.com/pages/GP-Calamity-Calling/img/lede/theice.jpg')">
                            </div>
                            <div class="feature_nav-chapter-title">Scientist Paul Mayewski talks about the immense climate changes</div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://lorempixel.com/500/290/?v=248')">
                            </div>
                            <div class="feature_nav-chapter-title">Climate change is wreaking havoc on the world's largest rainforest.</div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://lorempixel.com/500/290/?v=249')">
                            </div>
                            <div class="feature_nav-chapter-title">Climate change is rendering life impossible for these tiny, charismatic primates.</div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://lorempixel.com/500/290/?v=250')">
                            </div>
                            <div class="feature_nav-chapter-title">Climate change is rapidly transforming the Arctic. GlobalPost reports from Alaska and Greenland.
                            </div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://lorempixel.com/500/290/?v=220')">
                            </div>
                            <div class="feature_nav-chapter-title">India lags behind neighboring Bangladesh in reducing child mortality</div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://lorempixel.com/500/290/?v=262')">
                            </div>
                            <div class="feature_nav-chapter-title">India lags behind neighboring Bangladesh in reducing child mortality</div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://lorempixel.com/500/290/?v=261')">
                            </div>
                            <div class="feature_nav-chapter-title">India lags behind neighboring Bangladesh in reducing child mortality</div>
                        </div>
                        <div class="feature_nav-chapter">
                            <div class="feature_nav-chapter-photo" style="background-image: url('http://lorempixel.com/500/290/?v=260')">
                            </div>
                            <div class="feature_nav-chapter-title">India lags behind neighboring Bangladesh in reducing child mortality</div>
                        </div>
                    </div>
                </div>
                <div id="l_content">
                    <div class="feature_introduction" style="background-image: url(https://yahoov4s2-a.akamaihd.net/sk/3810/12980801504_cccd43d75a_h.jpg)">
                        <div class="feature_introduction-inner">
                            <div class="feature_introduction-category">A Special Report</div>
                            <h1 class="feature_introduction-title">The Great Divide</h1>
                            <div class="feature_introduction-subhead">Global income inequality and its costs</div>
                            <a href="article-feature.html" class="feature_introduction-button">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- l-main-inner -->
      </div><!-- l-main -->


    <script src="../scripts/vendor.js"></script>
    <script src="../scripts/scripts.js"></script>




  </body>
</html>