<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">

      <title>GP Landing Template</title>
              <link rel="stylesheet" href="../styles/main.css">


  </head>

  <body class="landing-page landing">
      <div id="l_main">
        <div id="l_main_inner">

            <nav id="l_navigation">
                <div class="l_navigation-left">
                    <div class="navigation_section clearfix">
                      <span class="navigation_section-header mobile-visible desktop-hidden">Shortcuts</span>
                      <ul class="navigation_section-list">
                        <li class="navigation_section-list-item--large"><a href="latest.html">Latest News</a></li>
                        <li class="navigation_section-list-item--large"><a href="popular.html">Popular</a></li>
                        <li class="navigation_section-list-item--large"><a href="video.html">Videos</a></li>
                        <li class="navigation_section-list-item--large"><a href="series.html">Series</a></li>
                        <li class="navigation_section-list-item--large"><a href="special-reports.html">GroundTruth</a></li>
                        <li class="navigation_section-list-item--large" id="nav-header-explore" data-activate="l_navigation-primary--darken"><a href="#">Countries</a></li>
                        <li class="navigation_section-list-item--large"><a href="#">Commentary</a></li>
                        <li class="navigation_section-list-item--large"><a href="about.html">About</a></li>
                        <li class="navigation_section-list-item--large"><a href="#">Everdaylife</a></li>
                      </ul>
                    </div>
                </div>

                <div class="l_navigation-right-top">
                    <div class="navigation_section clearfix">
                      <span class="navigation_section-header">Trending</span>
                      <ul class="navigation_section-list">
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Ukraine Crisis</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">India's Elections</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Drug Legalization</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Thailand in Crisis </a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Climate Change</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Putin's Crackdown</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Drug Legalization</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Sgt. Bowe Bergdahl</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">VA scandal</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Putin's Crackdown</a></li>

                      </ul>
                    </div>
                </div>
                <div class="l_navigation-right-bottom">

                    <div class="navigation_section clearfix">
                      <span class="navigation_section-header">Categories</span>
                      <ul class="navigation_section-list">
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Power</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Money</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Living</a></li>
                        <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Conflict</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Politics</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Technology</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">US Foreign Policy</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Science</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Frontier Markets</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Human Rights</a></li>
                        <li class="navigation_section-list-item--small"><a href="landing-page.html" class="navigation_section-list-item-link">Global Economy</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Pop Culture</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Middle East</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Terrorism</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Drugs</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Warfare</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Sexuality</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Health</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Food & Travel</a></li>
                        <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Religion</a></li>
                      </ul>
                    </div>
                  </div>
                <div id="l_navigation-primary--darken"></div>
                </div>
            </nav>

            <nav id="l_navigation-countries">
                <div class="l_navigation-countries-inner ">
                    <div class="navigation_section clearfix">
                        <span class="navigation_section-header">Regions</span>
                        <ul class="navigation_section-list navigation_section-list-countries">
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Africa</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Americas</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Asia-Pacific</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Europe</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Middle East</a></li>
                    </div>
                     <div class="navigation_section clearfix">
                        <span class="navigation_section-header">Countries</span>
                        <ul class="navigation_section-list navigation_section-list-countries">
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Ghana</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Kenya</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Morocco</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Nigeria</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Senegal</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">South Africa</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Zimbabwe</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Argentina</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Bolivia</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Brazil</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Canada</a></li>
                          <li class="navigation_section-list-item--small"><a href="landing-page.html" class="navigation_section-list-item-link">Chile</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Colombia</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Costa Rica</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Cuba</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Haiti</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Mexico</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">United States</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Venezuela</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Peru</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Afghanistan</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">South Korea</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">Thailand</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">China</a></li>
                          <li class="navigation_section-list-item--small"><a class="navigation_section-list-item-link" href="#">India</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Vietnam</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Indonesia</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Japan</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Pakistan</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Philippines</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Benelux</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Czech Republic</a></li>
                          <li class="navigation_section-list-item--small"><a href="landing-page.html" class="navigation_section-list-item-link">France</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Germany</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Italy</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Poland</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Russia</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Spain</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Turkey</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">UK</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Egypt</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Iran</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Israel + Palestine</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Jordan</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Lebanon</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Saudi Arabia</a></li>
                          <li class="navigation_section-list-item--small"><a href="#" class="navigation_section-list-item-link">Syria</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <header id="l_header">
                <div id="l_header-left">
                    <a class="header_button--left" id="header_button-navigation" data-activate="l_content--darken">
                        <i class="header_button-icon header_button-menu"></i>
                        <span class="header_button-label mobile-hidden desktop-visible">Menu</span>
                    </a><a class="header_button--left mobile-hidden tablet-visible" id="header_button-search">
                        <i class=" header_button-icon icon-search "></i>
                    </a>
                </div>

                <div id="l_header-center">
                    <a href="homepage.html" class="header_logo">
                        <span class="header_logo-global">Global</span><span class="header_logo-post">Post</span>
                    </a>
                </div>

                <div id="l_header-right">
                    <a class="header_button--right mobile-hidden">
                        <i class=" header_button-icon icon-info"></i>
                    </a><a class="header_button--right" id="header_button-share" data-activate="fullscreen_social">
                      <i class="header_button-icon header_button-export"></i>
                      <span class="header_button-label mobile-hidden">Share</span></a>
                </div>
            </header>

            <div id="l_dropdowns">
                <div id="l_content--darken"></div>
                 <div id="fullscreen_social">
                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item" id="social-facebook">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-facebook"></i>
                                    <span class="fullscreen_social-text">facebook</span>
                                  </span>
                                </a>
                              </div>

                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item" id="social-twitter">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-twitter"></i>
                                    <span class="fullscreen_social-text">twitter</span>
                                  </span>
                                </a>
                              </div>

                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item" id="social-google">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-google-plus"></i>
                                    <span class="fullscreen_social-text">google</span>
                                  </span>
                                </a>
                              </div>

                              <div class="fullscreen_social-item-wrapper">
                                <a class="fullscreen_social-item" id="social-more">
                                  <span class="fullscreen_social-item-inner">
                                    <i class="fullscreen_social-icon icon-export"></i>
                                    <span class="fullscreen_social-text">more</span>
                                  </span>
                                </a>
                              </div>
                </div>
                <div id="breaking_news-wrapper">
                            <div class="overlay">

                                <div class="overlay-inner active" id="overlay-inner">
                                    <div class="latest_news-item clearfix ">
                                        <div class="latest_news-item-photo ">
                                            <img src="http://lorempixel.com/100/66/?v=13" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">1 Hour Ago</div>
                                            <a class="latest_news-item-headline">South Korea pulled strings as military cracked down on protesters</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=12" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">4 Hour Ago</div>
                                            <a class="latest_news-item-headline">Did Kim Jong Un really execute his uncle’s extended family?</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=3" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">4 Hour Ago</div>
                                            <a class="latest_news-item-headline">Nullam ut gravida justo, ac aliquam nisl.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=4" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">5 Hour Ago</div>
                                            <a class="latest_news-item-headline">Proin pulvinar vestibulum risus in sollicitudin</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=5" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">5 Hour Ago</div>
                                            <a class="latest_news-item-headline">Etiam euismod justo quis purus imperdiet suscipit.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://hhhhold.com/jpeg/100x66/m?6" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">7 Hour Ago</div>
                                            <a class="latest_news-item-headline">Quisque mauris enim, tristique a pretium hendrerit, convallis nec est.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=101" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">7 Hour Ago</div>
                                            <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=8" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">7 Hour Ago</div>
                                            <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=9" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">7 Hour Ago</div>
                                            <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=10" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">7 Hour Ago</div>
                                            <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=11" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">7 Hour Ago</div>
                                            <a class="latest_news-item-headline"> Morbi eget turpis ac enim commodo pharetra ac ut augue.</a>
                                        </div>
                                    </div>
                                    <div class="latest_news-item clearfix">
                                        <div class="latest_news-item-photo">
                                            <img src="http://lorempixel.com/100/66/?v=12" alt="thumb">
                                        </div>
                                        <div class="overlay-text">
                                            <div class="latest_news-item-time">7 Hour Ago</div>
                                            <a class="latest_news-item-headline"> Eget turpis ac enim commodo pharetra ac ut augue.</a>
                                        </div>
                                    </div>
                                </div><!-- Overlay Wire -->
                            </div><!-- Overlay -->
                </div>
            </div>

          <div id="l_content-wrapper">
              <div class="scroll-area" id="l_content">
                  <div id="l_content-inner">
                      <div class="gp_banner--large gp_overlay--dark-strong gp_section" id="landing_page-banner" data-activate="landing_page-banner" style="background-image: url(../images/ebo.jpg)">
                         <div class="gp_banner-text--center">
                           <div class="gp_header--larger">Ebola Epidemic</div>
                           <div class="gp_banner-body">
                            The deadliest Ebola outbreak in recorded history is happening right now.
                            The outbreak is unprecedented both in infection numbers and in geographic scope. And so far, it's been a long battle that doesn't appear to be slowing down.
                            The virus — which starts off with flu-like symptoms and sometimes ends with bleeding — has infected about 2,100 people and killed more than 1,100 since this winter, according to estimates on August 15 from the World Health Organization.



                           </div>
                         </div>

                      </div>
                      <div class="gp_ad-top">
                            <div class="gp_ad-728x90"></div>
                        </div>
                      <section class="gp_section--first" id="featured-articles">
                          <h1 class="visually-hidden gp_section-headline paddless">Featured Reporting</h1>
                         <div class="gp_grid--third-w-banner">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://www.macleans.ca/wp-content/uploads/2014/03/Ebola-story.jpeg)"></div>
                                    <div class="content_item-text">
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark"><a href="article.html">How Some People Are Surviving the Deadliest Ebola Outbreak in History</a></h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://i4.mirror.co.uk/incoming/article3337330.ece/alternates/s2197/Ebola.jpg)"></div>
                                    <div class="content_item-text">
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark"><a href="article.html">Ebola Test Comes Back Negative for Patient in California</a></h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://static01.nyt.com/images/2014/08/05/world/africa/EBOLA/EBOLA-master675.jpg)"></div>
                                    <div class="content_item-text">
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark"><a href="article.html">Why is the current Ebola outbreak so deadly?</a></h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Income inequality is surging, and there are few countries where it is rising faster than the United States. The distance between rich and poor is greater in America than nearly all other developed countries.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://graphics8.nytimes.com/newsgraphics/2014/07/31/ebola-qa/c7e96b1bc88e45d9c26c130faf9d9063a21d56fb/containment.jpg)"></div>
                                    <div class="content_item-text">
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">What You Need to Know About the Ebola Outbreak</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=735)"></div>
                                    <div class="content_item-text">
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Nulla facilisi. Donec eleifend libero ac felis imperdiet</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                    <div class="content_item-text">
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                    </div>
                                </div>

                                <div class="content_item content_item--ad">
                                    <div class="gp_ad-728x90">
                                    </div>
                                </div>
                         </div>
                          <div class="gp_grid--third-w-banner">
                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm4.staticflickr.com/3742/12148226023_6013bf72be_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <a href="landing-page.html" class="gp_grid-category--dark">Politics</a>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark"><a href="article.html">Velit ipsum minus, commodi aliquid cumque quisquam provident</a></h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(https://farm4.staticflickr.com/3851/14510979733_56e999ce8f_h.jpg)"></div>
                                    <div class="content_item-text">
                                        <a href="landing-page.html" class="gp_grid-category--dark">Technology</a>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark"><a href="article.html">Donec ut commodo quam, vel tincidunt augue</a></h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://farm8.staticflickr.com/7365/11985007866_e6ec9cb512_b.jpg)"></div>
                                    <div class="content_item-text">
                                        <a href="landing-page.html" class="gp_grid-category--dark">Science</a>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark"><a href="article.html">Pellentesque habitant morbi tristique senectus et netus</a></h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Income inequality is surging, and there are few countries where it is rising faster than the United States. The distance between rich and poor is greater in America than nearly all other developed countries.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--dark">Beat Name</div>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                    </div>
                                </div>

                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=735)"></div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--dark">Beat Name</div>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Nulla facilisi. Donec eleifend libero ac felis imperdiet</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">Nullam pulvinar justo ut diam gravida vulputate. Sed ut luctus sapien, sed porttitor metus. Etiam non pretium lacus. Sed convallis magna sed urna tristique cursus. Nam in vulputate odio.</div>
                                    </div>
                                </div>


                                <div class="content_item">
                                    <div class="content_item-photo" style="background-image: url(http://lorempixel.com/500/290/?v=535)"></div>
                                    <div class="content_item-text">
                                        <div class="gp_grid-category--dark">Beat Name</div>
                                        <h2 class="gp_grid-headline--small gp_grid-headline--dark">Etiam laoreet sem et urna fringilla, a vestibulum dolor blandit</h2>
                                        <div class="gp_grid-subhead--medium gp_grid-subhead--dark">orbi sit amet sodales ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla in sem eu risus egestas lobortis vel a diam. Etiam ligula augue, bibendum et neque et, ultrices elementum arcu.</div>
                                    </div>
                                </div>

                                <div class="content_item content_item--ad">
                                    <div class="gp_ad-728x90">
                                    </div>
                                </div>
                         </div>


                      </section>
                  </div><!-- l_content-inner -->
              </div><!-- l_content -->
          </div><!-- l_content-wrapper -->

        </div><!-- l-main-inner -->
      </div><!-- l-main -->

       <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../../bower_components/modernizr/modernizr.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../scripts/vendor/handlebars-v1.3.0.js"></script>
        <script src="../scripts/vendor/scrollMonitor.js"></script>
        <script src="../scripts/vendor/iscroll-probe.js"></script>
        <script src="../scripts/vendor/jcarousel/jcarousel.js"></script>
        <script src="../scripts/vendor/jcarousel/jcarousel-responsive.js"></script>
        <script src="../scripts/data.js"></script>
        <script src="../scripts/plugins.js"></script>
        <script src="../scripts/vendor/helpers/jquery.fancybox-buttons.js"></script>
        <script src="../scripts/main.js"></script>

        <!-- endbuild -->
  </body>
</html>